/* Default styles for all screen sizes */
.contact-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout for mobile */
    align-items: center;
    text-align: center; /* Center align text */
}

.contact-image {
    max-width: 75%; /* Take up full width on smaller screens */
    justify-self: center;
    grid-column: auto; /* Reset grid column to default */
}

.contact-links {
    padding-top: 20px;
}

.contact-links button:hover {
    background-color: #4b16c8;
}

.contact-links button:active {
    background-color: #a393ca;
    transform: scale(1.5);
}

.contact-links button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px auto; /* Center buttons horizontally */
    border: none;
    border-radius: 25px;
    background-color: #7651cb;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block; /* Display buttons as block elements */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

/* Media query for screens larger than 768px (tablets and desktops) */
@media (min-width: 768px) {
    .contact-container {
        grid-template-columns: repeat(4, 1fr); /* 4-column layout */
    }

    .contact-image {
        max-width: 80%;
        grid-column: 1 / span 2;
    }

    .contact-links {
        grid-column: 3 / span 2;
        padding-top: 0; /* Reset padding for larger screens */
        text-align: left; /* Left align text */
    }
}