.App {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background: rgba(134, 153, 237, 0.125);
}

.App-child-container {
  min-height: 100vh;
}

.Main {
  grid-row: 2;

}

.Projects {
  color: black;
  padding: 40px;
}

.Links {
  padding: 10px;
  grid-row: 1;
  grid-column: 1;
  
}

/* Unvisted Link */
a:link {
  padding: 1em;
}

/* Visted Link */
a:visited {
  color: green;
}

/* Hover Over Link */
a:hover {
  color: hotpink
}

/* Selected Link */
a:active {
  color: blue;
}